{% extends "baseadmin.html.twig" %}
{% block body %} 
     <p class="text-end">
         <a href="{{ path('admin.playlist.ajout') }} "  class='btn btn-primary'>Ajouter une nouvelle playlist</a>
    </p>
    <table class="table table-striped">
     <caption></caption>  
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Playlist<br />
                    <a href="{{ path('admin.playlist.sort', {champ:'name', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('admin.playlist.sort', {champ:'name', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlist.findallcontain', {champ:'name'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" 
                                   value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>                    
                </th>
                <th class="text-left align-top" scope="col">
                    Catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlist.findallcontain', {champ:'id', table:'categories'}) }}">
                        <select class="form-select form-select-sm" name="recherche" id="recherche" onchange="this.form.submit();">
                            <option value=""> </option>
                            {% for categorie in categories %}
                                <option 
                                    {% if valeur|default and valeur==categorie.id %} 
                                        selected
                                    {% endif %} 
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>                    
                    </form>            
                </th>
                <th class="text-left align-top" scope="col">
                    Nombre de formations<br />
                    <a href="{{ path('admin.playlist.sort', {champ:'nbformations', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('admin.playlist.sort', {champ:'nbformations', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>                
                </th>
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>

            {% for k in 0..playlist|length-1 %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info">
                            {{ playlist[k].name }}
                        </h5>
                    </td> 
                    <td class="text-left">
                        {% set categories = playlist[k].categoriesplaylist %}
                        {% if categories|length > 0 %}
                            {% for c in 0..categories|length-1 %}
                                &nbsp;{{ categories[c] }} 
                            {% endfor %}
                        {% endif %}
                    </td> 
                     <td>
                        {{ playlist[k].formations|length }}
                    </td>
                    <td>
                        <a href="{{ path('admin.playlist.edit',{id:playlist[k].id}) }} "  class='btn btn-secondary'>Editer</a>
                        {% if playlist[k].formations|length >= 1%}
                         <a href="{{ path('admin.playlist.suppr', {id:playlist[k].id}) }}" class="btn btn-danger" onclick="alert('Vous ne pouvez pas supprimer {{playlist[k].formations|length}} puisque une formation est relié à celle ci');return false;">Supprimer</a>
                        {% else %}
                            <a href="{{ path('admin.playlist.suppr',{id:playlist[k].id}) }} " class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette playlist : {{ playlist[k].name }} ?')">Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
